<h1>Here are more informations about : <strong><%= @restaurant.name %></strong></h1>
<h2>Phone number is : <%= @restaurant.phone_number %></h2>
<p>It's adress is : <%= @restaurant.address%></p>
<%= link_to "back to list", restaurants_path %>
